body {
    margin:0;
    font-size: 15px;
    /*font-family: 'Montserrat', sans-serif;*/
    line-height: 1.3;
    font-family: 'Saira', sans-serif;
}

*,
*:before,
*:after{
    box-sizing: border-box;
}

h1, h2, h3, h4, h5, h6{
    margin:0;
}

hr{
    /*border: none;*/
    /*border: 1px solid #C6C6C6;*/
    border: none;
    height: 0.01em;
    background-color:black;
}

/*Container*/
.container{
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
}

/*** Header ***/
.header{
    padding-top: 15px;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1000;
    /*background-color: #A3DCFF;*/
    background-color: #89d6fb;
    padding-bottom: 7px;
}

.header__inner{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header__logo__text{
    font-size: 24px;
    font-weight: 700;
    display: flex;
    /*height: 100px;*/
    /*line-height: 100px;*/

}

.header__logo{
    float: left;
    width: 30%;
    /*background-color: red;*/
}

.header__text{
    /*background-color: green;*/
    padding-top: 7px;
    /*width: 150px;*/
}

.newst__logo__link{
    text-decoration: none;
    color: #000000;
}

.newst__logo{
    width:45px;
    height: 45px;
    margin-right: 10px;
}

nav{
    font-size: 16px;
}

.nav__link{
    display: inline-block;
    vertical-align: top;
    position: relative;
    margin: 0 15px;
    /*color: #fff;*/
    text-decoration: none;
    font-size: 16px;
    font-weight: 400;
    color: inherit;
    padding: 5px 0;
}

.intro{
    padding:20px 0;
    margin-top: 100px;
    display: block;

}


/**
News
 */
.newst__block{
    width: 500px;
    height: 100px;
}


.newst__block__title{
    font-weight: 700;

}

.newst__block__text{

}




